<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>Most firms today primarily use centralized business models, where product development, pricing, marketing, asset/liability management, and capital management are all done in silos. In an increasingly interconnected business world, collaborations across the industry can enable each participating business to gain access to new technologies for improved efficiency and unlock hidden business insights and opportunities that are impossible to be seen in isolated environments. </p>
                    &nbsp; 
                    <p>We are a group of researchers with a great passion for distributed technologies for risk management. We believe in decentralized markets and business models that distribute risks and rewards among all stakeholders and enable businesses to build their business models using industry-wide data without compromising each other’s privacy and proprietary information. Distributed technologies can lower the cost of agency, reduce capital requirements, and facilitate collaborations while staying compliant with regulations. </p>
                    &nbsp; 
                    <p>The Distributed Risk Management Foundation offers a platform for the education, research, and exchange of ideas for decentralized business models across different industries. The Foundation is dedicated to fearless entrepreneurs eager to build the next generation of businesses, and academics who push the boundaries of technology innovations, for the better future of our industry.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/distributed_tall.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <!-- <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-9 mb-30">
                <div class="call-to-action">
                    <h3>Subscribe to our newsletter</h3>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="call-to-action">
                    <a href="https://feedly.com/i/newsletters/subscribe/A4-UfHeFT5t9fvi949W_vPXGfZQLPNdLslKIiI2JTMjN-9HaEE-8z7jBZ2H5FIQ0VYqPTyChcbY6f6DW9J_s" class="btn" target="_blank">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</section>