<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/education_bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>Keep up with <br> the distributed insurtech world.</h3>
                    <div class="call-to-action">
                        <a href="{{site.baseurl}}/pages/education" class="btn">Watch Videos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>