<section class="services-cta grey-bg pt-50 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 mb-30">
                <div class="call-to-action">
                    <h3>Subscribe to our newsletter</h3>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="call-to-action">
                    <a href="https://feedly.com/i/newsletters/subscribe/A4-UfHeFT5t9fvi949W_vPXGfZQLPNdLslKIiI2JTMjN-9HaEE-8z7jBZ2H5FIQ0VYqPTyChcbY6f6DW9J_s" class="btn" target="_blank">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</section>