<section class="service-area grey-bg pb-70 pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title service-title">
                    <h2>Our Services</h2>
                    <p>We offer services to both crypto and non-crypto business that utilize distributed technologies.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- {% for service in site.services %}
            <div class="col-lg-4 col-md-6 text-center mb-30">
                <div class="features-wrap">
                    {% if service.icon %}
                    <div class="features-icon">
                        <img src="{{service.icon}}" alt="{{service.title}}">
                    </div>
                    {% endif %}
                    <h4>{{service.title}}</h4>
                    <p>{{service.description}}</p>
                    <a href="{{service.url}}">Read More</a>
                </div>
            </div>
            {% endfor %} -->
            <div class="col-lg-4 col-md-4 text-center mb-30">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/design.svg" alt="Business Model Designs">
                    </div>
                    <h4>Business Model <br> Designs</h4>
                    <p>We offer the mathematical core of risk-sharing schemes that bridge the gap between insurance clients and investors.</p>
                    <a href="{{site.baseurl}}/pages/services">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center mb-30">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/audit.svg" alt="Independent Review and Model Audits">
                    </div>
                    <h4>Independent Review and Model Audits</h4>
                    <p>We provide third-party audits for business logics and tokenomics design on behalf of protocol engineers or users.</p>
                    <a href="{{site.baseurl}}/pages/services">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center mb-30">
                <div class="features-wrap">
                    <div class="features-icon">
                        <img src="{{site.baseurl}}/assets/img/icons/cash.svg" alt="Reserve and Capital Management">
                    </div>
                    <h4>Reserve and Capital Management</h4>
                    <p>We help innovative small businesses to perform cash flow analysis and stress testing.</p>
                    <a href="{{site.baseurl}}/pages/services">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>