<section class="portfoilo-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Recent Events</h2>
                    <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                        some form,words which don't look even slightly believable.</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="portfolio-menu mb-55">
                    <button class="active" data-filter="*">all</button>
                    <!-- <button class="p-item" data-filter=".cat-one">printing</button> -->
                    <!-- <button class="p-item" data-filter=".cat-two">illustration</button> -->
                    <button class="p-item" data-filter=".cat-three">workshop</button>
                    <button class="p-item" data-filter=".cat-four">presentation</button>
                </div>
            </div>
        </div>
        <div class="row portfolio-active">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/multimedia/intro_to_defi.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="https://www.youtube.com/watch?v=zmZEwzatTl0" class="video-view">An Introduction to Decentralized Finance</a></h5>
                        <span>click to watch video</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/multimedia/overview_of_defi.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="https://www.youtube.com/watch?v=_kqId8jOAAY" class="video-view">An Overview of Decentralized Finance</a></h5>
                        <span>click to watch video</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/multimedia/defi_insurance.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="https://www.youtube.com/watch?v=LksQqCbRy9E" class="video-view">Challenges and Opportunities for DeFi Insurance</a></h5>
                        <span>click to watch video</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/multimedia/blockchain_summit.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="https://mediaspace.illinois.edu/media/t/1_35mnytql" target="_blank">Blockchain Summit 2023 (Part 1)</a></h5>
                        <span>click to watch video</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/multimedia/blockchain_summit.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="https://mediaspace.illinois.edu/media/t/1_snq8liro" target="_blank">Blockchain Summit 2023 (Part 2)</a></h5>
                        <span>click to watch video</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/multimedia/blockchain_summit.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="https://mediaspace.illinois.edu/media/t/1_o808tito" target="_blank">Blockchain Summit 2023 (Part 3)</a></h5>
                        <span>click to watch video</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/multimedia/dist_insur_owars.png" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="https://www.youtube.com/watch?v=q_rykCOTKCc" class="video-view">Distributed Insurance: Tokenization of Risk and Reward Allocation</a></h5>
                        <span>click to watch video</span>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/4.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Finance Consultancy</a></h5>
                        <span>supporting text</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three cat-one">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/5.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Finance Consultancy</a></h5>
                        <span>supporting text</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four cat-five">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/6.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Finance Consultancy</a></h5>
                        <span>supporting text</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>