---
layout: page
title: About Us
---
<!-- about-info -->
<section class="about-info pt-100">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="about-info-text">
                    <h2>Distributed Insurance Technology</h2>
                    <p>We aim to promote research, education, and applications of distributed technologies for risk management.
                    </p>
                    <!-- <a href="#" class="btn">Read More</a>
                    <div class="info-img">
                        <img src="{{site.baseurl}}/assets/img/about/our-team.jpg" class="img-fluid" alt="">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area -->
<section class="about-area grey-bg pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 mb-40">
                <div class="section-title">
                    <h2>Decentralized Insurance</h2>
                </div>
                <div class="about-content">
                    <p>Decentralized insurance is an all-encompassing term used to describe a wide range of business models that use some form of decentralization or disintermediation in their insurance processes. For example, DeFi insurance models often rely on communities of token holders to provide services in the insurance process. A token holder may participate in a voting process to approve or deny a claim in exchange for an allocation of premium as their reward. The consensus for claim validation achieved through the voting process offers an alternative to the centralized approach, which relies solely on the decisions of professional claim adjusters in the traditional insurance industry.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/insurance2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <!-- <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area white-bg pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/network4.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <!-- <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 mb-40">
                <div class="section-title">
                    <h2>Distributed Risk Sharing</h2>
                </div>
                <div class="about-content">
                    <p>Today’s insurance businesses are based on centralized client-server models, where an insurer serves as a market intermediary to provide services to millions of policyholders. Each insurance policy is a bilateral contract between a policyholder and an insurer. The insurer acts as a central node, sells identical products to tens of thousands of policyholders, and pools the risks from all policies. As all risks are aggregated and kept with a single insurer, high-risk capital becomes necessary to absorb adverse economic scenarios.</p>
                    &nbsp;
                    <p>While insurers enjoy the economy of scale with a large volume of insurance policies, the market is also highly centralized, with a small number of large insurers occupying the majority of the market share. As the insurance industry becomes centralized, regulators often impose strict regulations, increasing the cost of compliance and the entrance barrier for new insurers. The raised barrier leads to the further consolidation of insurers in the market and exacerbates the problem of market concentration.</p>
                    &nbsp;
                    <p>Distributed risk sharing refers to a type of business model that distributes risks and rewards to a large network of risk takers. The allocation of risks enables investors of varying risk appetites or financial capacities to participate in a shared pool of risks and business opportunities. The controlled risk allocation for each risk taker requires less intensive capital and allows for higher return on dollar investment than traditional insurance capital management.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area grey-bg pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Federated Learning</h2>
                </div>
                <div class="about-content">
                    <p>Data has been touted as the fuel of the 21st century. The exponential growth of data offers unprecedented opportunities for data mining, which can be crucial in improving organizational efficiency, developing industry-level standards and best practices, preventing fraud and scams, and driving innovations. However, the inaccessibility of data across the boundaries of insurance firms or even business divisions within a corporation makes it difficult to share data and uncover business insights that can only be learned from large volumes of data.</p>
                    &nbsp;
                    <p>Federated learning describes a distributed machine learning framework enabling multi-party model construction without sharing data among collaborators. Federated learning offers a new tool to exchange model insights while preserving collaborators’ privacy and proprietary information.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/privacy.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <!-- <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>


<!-- team-are -->
{% include team_members_details.html %}
{% include newsletter.html %}